
<div id = "mainpic">
	<div class="slideshow">
		<%= image_tag "pic5_big.jpg", :width=>449, :height=>331%>
		<%= image_tag "pic1_big.jpg", :width=>449, :height=>299%>
		<%= image_tag "pic2_big.jpg", :width=>449, :height=>337%>
		<%= image_tag "pic3_big.jpg", :width=>449, :height=>313%>
		<%= image_tag "pic4_big.jpg", :width=>248, :height=>330%>
		<%= image_tag "pic6_big.jpg", :width=>449, :height=>321%>
	</div>
	
</div>

<div id = "intro">
	<p>Whether formal or casual, Elizabeth can provide you with special highly personalised vows in ceremonies ranging from the deeply traditional
		to the unique. 
		Her wish is to give you the kind of ceremony that is both original and personal...
	</p>

	
	<p class = "first">The ceremony of your dreams...
	</p>
	<p>Are you coming from overseas to be married in Australia?	</p>
	<p>Elizabeth has extensive experience in this area and will assist you in the easy organisation of your overseas wedding. It's easier than you think!
	</p>


</div>
<!--><div id = "pagenav">
	<table>
	<tr><td><span class = "big_arrows"><%=link_to image_tag 'arrows.png', :controller => "main",:action =>"index" %></span><br/>
	<%= link_to_remote("More Photos", :url=>"/images/et_wedding.png", :method => "get", :update=>"mainpic") %>
	</td>
	</tr>
	</table>
</div>-->



