<h1>Listing testimonials</h1>

<table id = 'tabletest'>
  <tr>
    <th>Text</th>
    <th>From</th>


  </tr>

<% @testimonials.each do |testimonial| %>
  <tr>
    <td class = 'text'><%=h testimonial.text %></td>
    <td class = 'name'><%=h testimonial.from %></td>

    <td><%= link_to image_tag("edit.gif", :title => "Edit"), edit_testimonial_path(testimonial) %></td>
    <td><%= link_to image_tag("trash.gif", :title => "Dump"), testimonial, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
  <tr>
  	<td><%= link_to image_tag("add.png", :title => "Add a testimonial"), new_testimonial_path %></td>
  </tr>
</table>

<br />
